
<div class="result">
    <div class="third">
        {% raw %}{{ trainName }}{% endraw %}
    </div>
    <div class="third">
        <form action="/startTraining" method="POST" id="difficulties">
{#            <select id="difficulty">#}
                {%  for difficulty in difficulties %}
{#                    <option>{{difficulty}}</option>#}
                    <div>
                        <input type="radio" name="difficultySelect"
                                    {% if difficulties.index(difficulty)==0 %}
                                        checked
                                    {% endif %}
                                   vl="{{ difficulty }}" id="_{{ difficulty }}">
                        <label for="_{{ difficulty }}">
                            {{ difficulty }}
                        </label>
                    </div>
                 {% endfor %}
{#            </select>#}
        </form>
    </div>
    <div class="third">
        <input type="button" onclick="start()" value="start" id="startButton">
    </div>
    <button onclick="closeSelect()" id="closeButton">close1</button>
</div>