
	{% include "head.html" %}
	<script>
        trainingNames = [
            {% for i in training_names %}
                "{{ i }}",
            {% endfor %}
        ];
	    let currentSetName = null;
	    let currentWord = null;
	    function deleteWord(){
	        fetch('/deleteWord', {
                    method: "POST",
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        word: currentWord,
                        set: currentSetName
                    })
                }
            );
            let word_div = document.getElementById('word_'+currentWord)
            word_div.parentNode.removeChild(word_div);
        }
	    async function showWordInfo(word){
	        currentWord=word;
	        fetch('/getWordInfo',{method:"POST",
		        headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body:JSON.stringify({
                    word:word,
                    set:currentSetName
                })
            }).then(res=>{
                    if (res.status==200){

                        res.text().then(function(text){
                            arr = text.split(';')
                            wordInfo.innerHTML = 'word: '+word+'<br>translation: '+arr[0];
                            console.log(arr);
                            for(let i=0; i<arr[1].split(',').length; i++){
                                wordInfo.innerHTML+='<br>'+trainingNames[i]+':'+arr[1].split(',')[i];
                            }
                        });
                    }
            }).then(data=>{
                console.log(data);
                wordInfo.innerHTML = word+data;
            })
        }
		function getDictList(name){
	        console.log('gdl');
		    currentSetName = name;
			fetch('/dict/'+name)
				.then(res => {
				    return res.text();
				})
				.then(data => {
					words.innerHTML='';
					if (data!=''){
				        for (let i of data.split(',')){
				        	words.innerHTML+=`<div class='dict-logo-word' id='word_`+i+`' onclick="showWordInfo('`+i+`')">`+i+`</div>`;
				        }
					}
				});
		}
		function AddDict(name,language){
		    fetch('/addWordSet',{method:"POST",
		        headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body:JSON.stringify({
                    name:name,
                    language:language
                })
            }).then(res=>{
                    if (res.status==200){
                        dictionaries.innerHTML+="<div class='dict-logo'>"+name+"</div>";
                    }
                })
        }
        function addDictBtn(){
            AddDict(dictName.value,dictLanguage.value)
        }
        function addWordBtn(){
            if (currentSetName) {
                fetch('/addWord',{method:"POST",
		            headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body:JSON.stringify({
                        setName:currentSetName,
                        spelling:spelling.value,
                        translation:translation.value
                    })
                }).then(res=>{
                    if (res.status==200){
                        let i = spelling.value;
                        words.innerHTML+=`<div class='dict-logo' onclick="showWordInfo('`+i+`')">`+i+`</div>`;
                    }
                })
            }
        }
	</script>
    <style>
        .dict-logo{
            font-size: 2vw;
            padding: 1.5vw;
            color:white;
            background-color: #CF91FF;
            border-radius: 3.5vw;
            width: 10vw;
            height: 10vw;
            margin: 1vw;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
        }
        .dict-logo-book::before {
            content: '';
            z-index: -1;
            position: absolute;
            font-size: 2vw;
            margin-top: -1.1vw;
            margin-left: -1.1vw;
            color:white;
            background-color: #C780FF;
            border-radius: 3.5vw;
            width: 13vw;
            height: 13vw;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
        }
        .dict-logo-book::after {
            content: '';
            z-index: -2;
            position: absolute;
            font-size: 2vw;
            margin-top: -5.6vw;
            margin-left: -7.1vw;
            color:white;
            background-color: #C477FF;
            border-radius: 3.5vw;
            width: 13vw;
            height: 13vw;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
        }
        .words{
            display: grid;
            grid-template-columns: repeat(4,25%);
                width: 40vw;
                margin-left: 5vw;
        }
        .dict-logo-word{
            font-size: 2vw;
            padding: 1vw;
            color:white;
            background-color: #9D25FC;
            border-radius: 2.5vw;
            width: 6vw;
            height: 6vw;
            margin: 1vw;
        }
        .dict-name{
            font-size:4vw;
        }
        .dict-lang{

        }
        #content{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center !important;
            align-items: center !important;
	    }
    </style>
	<div id='content'>
		<div class="half-screen">
			<div class='centered'>
				<h1>
					Your dictionaries:
				</h1>
				<div class='dictionaries' id="dictionaries">
					{% for dictionary in dictionaries %}
					    <div class='dict-logo dict-logo-book' onclick='getDictList("{{dictionary.name}}")'>
                            <div class="dict-name"> {{dictionary.name}} </div> {{ dictionary.language }}
                        </div>
					{% endfor %}
				</div>
				<div class='form'>
				    create a dictionary:<br>
				    <input type="text" id="dictName">
				    <select id="dictLanguage">
				        <option disabled> select a language </option>
				        <option>english</option>
				        <option>spanish</option>
				    </select>
				    <input type="button" value="add" onclick="addDictBtn()">
				</div>
			</div>
		</div>
		<div class="half-screen">
			<div>
                <h1>Words:</h1>
			    <div id='words' class='words'>
                    select a dictionary
				</div>
    			<div class='form'>
            	    add a word:<br>
    			    <input type="text" id="spelling">
    			    <input type="text" id="translation">
				    <input type="button" value="add" onclick="addWordBtn()">
				    </div>
			</div>
            <div id="wordInfo">
                select a word to show info
            </div>
            <button onclick="deleteWord()">delete word</button>
		</div>
	</div>
	{% include "ending.html" %}
