{% raw %}
.dictionaries {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
* {
    font-family: 'HelveticaNeue';
}

.dict-logo {
    padding: 2px;
    border-radius: 2px;
    color: white;
    background-color: #FF9D00;
    margin: 2px;
    font-size: 2.5vw;
}
h3{
    font-size:3vw;
}
{% endraw %}