@font-face {
    font-family: 'HelveticaNeue';
    src: url(../../static/fonts/HelveticaNeue.ttf);
}

* {
    font-family: 'HelveticaNeue';
}

body, html {
    margin: 0;
    height: 100vh;
    width: 100vw;

{
    #overflow: hidden
;
    #
}
}

.words-box {
    display: grid;
    line-height: .9;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.words-box__amount {
    font-size: 3vw;
}

.words-box__comment {
    font-size: 1.1vw;
}

.level-box {
    display: grid;
    line-height: .9;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.level-box__amount {
    font-size: 3vw;
}

.level-box__comment {
    font-size: 1.1vw;
}

#header {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.box-container-left {
    display: flex;
    margin-right: auto;
}

.box-container-right {
    display: flex;
    margin-left: auto;
}


.box {
    border-radius: 2vw;
    width: 7vw;
    height: 7vw;
    background-color: #9D25FC;
    color: white;
    text-decoration: none;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 1.2vw;
}

.box-container-left:nth-child(1) {
    margin-left: 1.2vw;
    margin-top: 1.2vw;
}

.box-container-right:nth-last-child(1) {
    margin-right: 1.2vw;
    margin-top: 1.2vw;
}

.box > svg {
    width: 4vw;
    height: 4vw;
}

.box > a > svg {
    width: 4vw;
    height: 4vw;
}

.brain_svg {
    margin-top: .55vw;
}

.book_svg {
    margin-top: .5vw;
}


.words-box__wrapper {
    transform: rotate(3deg);
}

.level-box__wrapper {
    transform: rotate(-7deg);
}

.back-box__wrapper {
    transform: rotate(1deg);
}

.brain-box__wrapper {
    transform: rotate(10deg);
}

.book-box__wrapper {
    transform: rotate(-4deg);
}

.tools-box__wrapper {
    transform: rotate(2deg);
}

.exit-box__wrapper {
    transform: rotate(-14deg);
}

.half-screen {
    width: 50%;
}

/* here */


.bg-head-cube {
    position: absolute;
    z-index: -1;
    top: -65vw;
    right: -31vw;
    width: 80vw;
    height: 80vw;
    background-color: #F4F4F4;
    border-radius: 9vw;
    transform: rotate(-105deg);
    float: right;
}

.bg-news-cube {
    position: absolute;
    z-index: -1;
    bottom: -100vw;
    left: -145vw;
    width: 200vw;
    height: 200vw;
    background-color: #F4F4F4;
    border-radius: 115px;
    transform: rotate(-105deg);
    float: left;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#content {
    width: 100%;
    height: 100%;
    display: flex;
}

.left-side-board {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.right-side-board {
    width: 100%;
    height: 100%;
}

.board-main {
    width: 37vw;
}

.greeting {
    font-size: 4vw;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
}

.news {
    font-size: 2vw;
}

.words-number-colored {
    color: #9D25FC;
}

.spent-time-colored {
    color: #9D25FC;
}

.dictionaries {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 5vw;
}

.words {
    display: grid;
    grid-template-columns: repeat(3, 32%);
}

.right-side-board {
    display: grid;
    justify-content: center;
    align-items: center;
}

.right-side-board > svg {
    width: 10vw;
    height: 15vw;
}

@media (max-width: 780px) {
    body {
        overflow: scroll;
    }

    #main {
        display: flex;
        flex-direction: row;
        height: 100vh;
    }

    #content {
        display: grid;
        justify-content: space-around;
    }

    #header {
        display: grid;
        justify-content: start;
        width: 40%;
    }

    .box-container-left {
        padding: 0;
        margin-left: 0;
        flex-flow: row-reverse;
    }

    .box-container-right {
        padding: 0;
        margin-left: 1.2vw;
        display: flex;
        flex-flow: column-reverse;
    }

    .box {
        transform: scale(1.7);
        margin: 4vw;
    }

    .bg-head-cube {
        display: none;
    }

    .bg-news-cube {
        display: none;
    }

    .board-main {
        width: 50vw;
        background-color: #F4F4F4;
        border-radius: 7vw;
        padding: 5vw;
    }

    .greeting {
        font-size: 7vw;
    }

    .news {
        font-size: 3vw;
    }
}

input + label {
    display: flex;
    padding: 1vw;
    border-radius: 1vw;
    margin-right: 5px;
}

input:checked + label {
    background-color: #9999FF !important;
}

input[type="radio"] {
    display: none;
}