{% raw %}
* {
    font-family: 'HelveticaNeue';
}

.settings {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.settings-window {
    background-color: #F4F4F4;
    width: 25vw;
    height: 35vw;
    border-radius: 4vw;
    margin-left: 2vw;
    transition: .5s cubic-bezier(0.34, 1.61, 0.7, 1);
}

.settings-window > .title {
    font-size: 3vw;
    margin: 3vw;
}

.native-lang-window {
    z-index: 0;
    display: none;
    transition: .3s ease-in-out;
}

.password-window {
    z-index: 0;
    display: none;
    transition: .3s ease-in-out;
}

.current-password, .new-password {
    margin-bottom: -0.5vw;
}

.new-password {
    margin-top: 1vw;
}

.change-button {
    margin-top: 3vw;
    text-align: center;
    width: 80%;
    cursor: pointer;
}

input {
    width: 15vw;
    height: 1.5vw;
    outline: none;
    border: none;
    background-color: #E5E5E5;
    border-radius: .5vw;
}

.native-lang-window > ul > li {
    cursor: pointer;
}

.chosen {
    color: #FF9D00;
}

.settings-window > ul {
    list-style: none;
    font-size: 1.5vw;
    line-height: 1.5;
    margin-left: 3.2vw;
    padding: 0;
}

.settings-window > ul > li:nth-child(1) > span {
    color: #ff9D00;
    cursor: pointer;
}

.settings-window > ul > li:nth-child(2) > span {
    color: #ff9D00;
    cursor: pointer;
}

@media (max-width: 780px) {
    .settings {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        width: 100%;
        height: 100%;
    }

    .settings-window {
        background-color: #F4F4F4;
        width: 45vw;
        height: 63vw;
        border-radius: 7.2vw;
    }

    .settings-window > .title {
        font-size: 5.4vw;
        margin: 5.4vw;
    }

    .settings-window > ul {
        list-style: none;
        font-size: 2.7vw;
        line-height: 1.5;
        margin-left: 5.8vw;
        padding: 0;
    }

    .settings-window > ul > li:nth-child(1) > span {
        color: #FF9D00;
        cursor: pointer;
    }

    .settings-window > ul > li:nth-child(2) > span {
        color: #FF9D00;
        cursor: pointer;
    }
}
{% endraw %}