{% raw %}
body {
    overflow: scroll !important;
    overflow-x:auto !important;
}

.result {
    color: white;
    background-color: #FF9D00;
    padding: 30px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.result > div {
    width: 25%;
}

.training-name {
    font-size: 3vw;
    font-weight: bold;
}

.training-res-num {
    font-size: 15vw;
}

.exit-training {
    color: white;
    font-size: 40px;
    padding: 10px;
    border-radius: 3px;
    background-color: #FF9D00;
    text-decoration: none;
}

.third {
    width: 33% !important;
    font-size: 3vw;
}

#trainSettingsForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="radio"]{
    display: none;
}

input ~ label{
    display:block;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border:3px solid #FF9D00;
}

input:checked ~ label{
    /*background-color:#FFAE22;*/
    border:3px solid white;
}
/*.training-logo {*/
/*    border-radius: 4vw;*/
/*    color: white;*/
/*    text-decoration: none;*/
/*    font-size: 3.5vw;*/
/*    display: grid;*/
/*    align-items: center;*/
/*    width: 20vw;*/
/*    height: 20vw;*/
/*    margin: 1.7vw;*/
/*}*/

.training-logo > p {
    text-align: start;
    margin-left: 1.5vw;
}

/*.training-logo-spelling {*/
/*    background-color: #006CFF;*/
/*}*/

/*.training-logo-choose-translation {*/
/*    background-color: #FC2557;*/
/*}*/

/*.training-logo-choose-spelling {*/
/*    background-color: #4BD32B;*/
/*}*/

/*.training-logo-quick-quiz {*/
/*    background-color: #FF6200;*/
/*}*/

.training-logo {
    background-color: #FF9D00;
    border-radius: 1vw;
    color: white;
    text-decoration: none;
    display: grid;
    align-items: center;
    width: 26vw;
    margin-bottom:2px;
    cursor: pointer;
}
svg > g > .b , #closeButton {
    fill: white;
    stroke: none;
}
.training-logo > p {
    text-align: start;
    margin-left: 1.5vw;
}
@media (orientation:portrait) /*(max-width:760px)*/{
#content{
        width:100%;
    }
    #trainings{
        width:100%;
        grid-template-columns:100% !important;
    }
    .training-logo{
        width:100%;
    }
}
{% endraw %}