{% include "trainings/trainingTop.html" %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<div id='content'>
        <style>
            input[type="text"]{
                background-color: rebeccapurple;
                color:white;
                border-style: none;
                border-radius:50vh;
                padding:30px;
                font-size:55px;
            }
            #translation{
                font-size: 80px;
            }
            #train{
                transform: translateY(-50%);
                padding-top: 50%;
            }
            .a{
                fill:#703a98;
            }
            #next{
                transform: translateY(20px);
            }
        </style>
			<div class='centered'>
                <script>
                    var words=[
                        {% for word in words %}
                            {
                                id:{{word.id}},
                                spelling:"{{ word.spelling }}",
                                translation:"{{ word.translation }}"
                            },
                        {% endfor %}
                    ];
                    var corrects=[];
                    var incorrects=[];
	            </script>
                {% raw %}
				<div id="train">
                    <div v-if="!ended">
                        <div id="translation">{{translation}}</div>
                        <div>
                            <input type="text" id="spell" v-model="answer">
                            <svg xmlns="http://www.w3.org/2000/svg" width="141.538" height="100.151" viewBox="0 0 141.538 159.151" id="next" v-on:click="check">
                                <g transform="translate(-491.319 -156.746)">
                                    <rect class="a" width="149" height="25" rx="12.5" transform="translate(503.819 156.746) rotate(30)"/>
                                    <rect class="a" width="149" height="25" rx="12.5" transform="translate(491.319 294.247) rotate(-30)"/>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div v-if="ended">
                        <div>
                            {% endraw %}
                                {% include "trainings/trainEnd.html" %}
                            {% raw %}
                        </div>
                    </div>
                </div>
                <script>
                    var app = new Vue({
                        el: '#train',
                        data: {
                            wordNum: 0,
                            ended:false,
                            answer:'',
                            corrects:[],
                            incorrects:[]
                        },
                        computed:{
                            translation: function(){
                                if (this.wordNum<words.length)
                                return words[this.wordNum].translation;
                                return null;
                            }
                        },
                        methods: {
                            check: () => {
                                score.innerText=app.wordNum+2+'/'+words.length;
                                if (app.answer == words[app.wordNum].spelling)
                                    app.corrects.push(words[app.wordNum])
                                else
                                    app.incorrects.push(words[app.wordNum])
                                app.answer = '';
                                app.wordNum++;
                                console.log(app.wordNum);
                                if (app.wordNum == words.length) {
                                    app.ended = true;
                                    corrects_ids = app.corrects.map(i => i.id);
                                    incorrects_ids = app.incorrects.map(i => i.id);
                                    console.log(corrects_ids, incorrects_ids);
                                    score.style.display='none';
                                    fetch('/trainingRes', {
                                        method: "POST",
                                        headers: {
                                            'Accept': 'application/json',
                                            'Content-Type': 'application/json'
                                        },
                                        body: JSON.stringify({
                                            corrects: corrects_ids,
                                            incorrects:incorrects_ids,
                                            trainingId:1,//spelling
                                        })
                                    })
                                }
                            }
                        }
                    })
                    score.innerText=1+'/'+words.length;
                </script>
                {% endraw %}
			</div>
		</div>
	</div>
	{%include "ending.html" %}
