{% raw %}
@font-face {
    font-family: 'HelveticaNeue';
    src: url(../../static/fonts/HelveticaNeue.ttf);
}

* {
    font-family: 'HelveticaNeue';
}

body, html {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.dictionaries {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 5vw;
}
{% endraw %}