{% include "header.html" %}
<div id='content'>
    <link rel="stylesheet" href="/static/dictionaries.css">
    <style>
        {% include "style/chooseDictForTraining.css" %}
    </style>
    <div class='centered'>
        <h1>
            Starting {{ difficulty }} {{ name }}:<br>
            Select word set:
        </h1>
        <div class='dictionaries' id="dictionaries">
            {% for dictionary in dictionaries %}
                <div class='dict-logo'
                        {% if dictionary.needToTrain>=6 %}
                     onclick="window.location+='/{{ dictionary.setName }}'"
                        {% else %}
                     onclick="alert('not enough words to train')"
                        {% endif %}
                >
                    <h3>{{ dictionary.setName }}</h3>
                    <p>total words: {{ dictionary.wordCount }}</p>
                    <p>need to train: {{ dictionary.needToTrain }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include "ending.html" %}
