<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/dashboard.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-apexcharts"></script>
    <title>Dashboard</title>
</head>
<body>

    <section>
        {% include "header.html" %}
        <main>
            <div>
                <h1>Greetings, {{ email }}!</h1>
                <div>
                    <p>Learned words: {{ totalWords }}</p>
                    <p>Spent time on learning: SOON</p>
                    {{ stats }}
                </div>
            </div>
            <div>
                <video src="/static/videos-for-invade/index4.mp4" preload="auto" autoplay="true" loop="true" muted="muted"></video>
            </div>
        </main>
        <style>
            #statistics *{
                transition-duration: 0s !important;
            }
        </style>
        <div id="dataWrap">
            <div id="statistics">
                <div class="chart">
                    <apexchart type="pie" width="380" :options="chartOptions" :series="series"></apexchart>
                </div>
            </div>

            <div id="chart">
                <apexchart type="area" height="350" :options="chartOptions" :series="series"></apexchart>
            </div>
        </div>
        <script>
            let days = ["MON","TUE","WED","THU","FRI","SAT","SUN"];
            const currentDay = Date().split(' ')[0].toUpperCase();
            while(days[days.length-1]!=currentDay)
                days.unshift(days.pop())
            let stats = {{ stats|safe }};
        let App = new Vue({
            el: '#statistics',
            components: {
              apexchart: VueApexCharts,
            },
            data: {

                series: [stats.learned, stats.inProgress],

                chartOptions: {

                    chart: {
                        width: 380,
                        type: 'pie',
                    },
                    fill: {
                        colors: ['#FF9D00', '#BBBBBB', '#9C27B0'],
                    },
                    colors: ['#FF9D00', '#BBBBBB', '#9C27B0'],
                    labels: ['Learned', 'In progress'],
                    responsive: [{
                        breakpoint: 480,
                        options: {

                            chart: {
                                width: 200
                            },
                            legend: {
                                position: 'bottom'
                            }
                        }
                    }]
                },
            },
        });
        let App2 = new Vue({
        el: '#chart',
        components: {
          apexchart: VueApexCharts,
        },
        data: {

          series: [{
            name: "Words learned per day",
            data: stats.wordsByDays
          }, {
            name: "Training per day",
            data: stats.trainingsByDays
          }],
          chartOptions: {
            chart: {
              height: 350,
              type: 'area'
            },
              fill: {
                        colors: ['#FF9D00', '#BBBBBB', '#9C27B0'],
                    },
                    colors: ['#FF9D00', '#BBBBBB', '#9C27B0'],
            dataLabels: {
              enabled: false
            },
            stroke: {
              curve: 'smooth'
            },
            xaxis: {
              type: 'Days',
              categories: days,
            },
            tooltip: {
              x: {
                format: 'dd/MM/yy HH:mm'
              },
            },
          },


        },

      })

        </script>
        {% include "ending.html" %}