
	{% include "head.html" %}
	<script>
        trainingNames = [
            {% for i in training_names %}
                "{{ i }}",
            {% endfor %}
        ];
	    let currentSetName = null;
	    let currentWord = null;
	    function deleteWord(){
	        fetch('/deleteWord', {
                    method: "POST",
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        word: currentWord,
                        set: currentSetName
                    })
                }
            );
	        wordInfo.innerHTML='select a word to show info';
            let word_div = document.getElementById('word_'+currentWord)
            word_div.parentNode.removeChild(word_div);
        }
	    async function showWordInfo(word){
	        currentWord=word;
	        fetch('/getWordInfo',{method:"POST",
		        headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body:JSON.stringify({
                    word:word,
                    set:currentSetName
                })
            }).then(res=>{
                    if (res.status==200){

                        res.text().then(function(text){
                            arr = text.split(';')
                            wordInfo.innerHTML = 'word: '+word+'<br>translation: '+arr[0];
                            console.log(arr);
                            for(let i=0; i<arr[1].split(',').length; i++){
                                wordInfo.innerHTML+='<br>'+trainingNames[i]+':'+arr[1].split(',')[i];
                            }
                            wordInfo.innerHTML+='<div><button onclick="deleteWord()">delete word</button></div>';
                        });
                    }
            }).then(data=>{
                console.log(data);
                wordInfo.innerHTML = word+data;
            })
        }
		function getDictList(name){
	        console.log('gdl');
		    currentSetName = name;
			fetch('/dict/'+name)
				.then(res => {
				    return res.text();
				})
				.then(data => {
					words.innerHTML='';
					if (data!=''){
					    words.style.display='grid';
				        for (let i of data.split(',')){
				        	words.innerHTML+=`<div class='dict-logo' id='word_`+i+`' onclick="showWordInfo('`+i+`')">`+i+`</div>`;
				        }
					}else{
					    words.innerHTML = 'Selected word list is empty';
					    words.style.display='block';
                    }
				});
		}
		function AddDict(name,language){
		    fetch('/addWordSet',{method:"POST",
		        headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body:JSON.stringify({
                    name:name,
                    language:language
                })
            }).then(res=>{
                    if (res.status==200){
                        dictionaries.innerHTML+="<div class='dict-logo'><div class='dict-name'>"+name+"</div>"+language+"</div>";
                    }
                })
        }
        function addDictBtn(){
            AddDict(dictName.value,dictLanguage.value)
        }
        function addWordBtn(){
            if (currentSetName) {
                fetch('/addWord',{method:"POST",
		            headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body:JSON.stringify({
                        setName:currentSetName,
                        spelling:spelling.value,
                        translation:translation.value
                    })
                }).then(res=>{
                    if (res.status==200){
                        let i = spelling.value;
                        words.innerHTML+=`<div class='dict-logo' id="word_`+spelling.value+`" onclick="showWordInfo('`+i+`')">`+i+`</div>`;
                    }
                })
            }
        }
	</script>
    <style>
        div{

            color:grey;
        }
        .dict-logo{
            padding:20px;
            color:white; !important;
            background-color: #9D25FC;
            border-radius:20px;
            {#width:2vw;#}
            height:auto;
            margin:1vw;
        }
        .dict-name{
            font-size:4vw;
            color:white;
        }
        .create-dict-form{
            color:grey;
            font-size:4vw;
        }
        input, select, button{
            background-color: #9D25FC;
            appearance: none;
            -webkit-appearance: none;
            padding: 10px;
            border-style: none;
            border-radius:10px;
            color:white;
        }
        #createDictForm{
            display: none;
        }
        #words{
            display:block;
            padding-bottom: 20px;
            font-size:2vw;
        }
        #wordInfo{
            padding-top:20px;
        }
    </style>
    <script>
        function showHideForm(){
            createDictForm.style.display='block';
        }
    </script>
	<div id='content'>
		<div class="half-screen">
			<div class='centered'>
				<h1>
					Your dictionaries:
				</h1>
				<div class='dictionaries' id="dictionaries">
					{% for dictionary in dictionaries %}
					    <div class='dict-logo' onclick='getDictList("{{dictionary.name}}")'>
                            <div class="dict-name"> {{dictionary.name}} </div> {{ dictionary.language }}
                        </div>
					{% endfor %}
				</div>
				<div class='create-dict-form'>
				    <div onclick="showHideForm()">create a dictionary</div>
                    <div id="createDictForm">
				        <input type="text" id="dictName" placeholder="name">
				        <select id="dictLanguage">
				            <option disabled> select a language </option>
				            <option>english</option>
				            <option>spanish</option>
				        </select>
				        <input type="button" value="add" onclick="addDictBtn()">
                    </div>
				</div>
			</div>
		</div>
		<div class="half-screen">
			<div>
                <h1>Words:</h1>
			    <div id='words' class='words'>
                    select a dictionary
				</div>
    			<div class='form'>
            	    add a word:<br>
    			    <input type="text" id="spelling">
    			    <input type="text" id="translation">
				    <input type="button" value="add" onclick="addWordBtn()">
				    </div>
			</div>
            <div id="wordInfo">
                select a word to show info
            </div>
{#            <button onclick="deleteWord()">delete word</button>#}
		</div>
	</div>
	{% include "ending.html" %}
