
	{% include "head.jinja" %}
	<script>
		function getDictList(name){
			fetch('/dict/'+name)
				.then(res => {
				    return res.text();
				})
				.then(data => {
					words.innerHTML='';
				    for (let i of data.split(',')){
				    	words.innerHTML+="<div class='dict-logo'>"+i+"</div>";
				    }
				});
		}
	</script>
	<div id='content'>
		<div class="half-screen">
			<div class='centered'>
				<h1>
					Your dictionaries:
					<div class='dictionaries'>
						{% for language in languages %}
						<div class='dict-logo' onclick='getDictList("{{language}}")'>{{language}}</div>
						{% endfor %}
					</div>
				</h1>
				<p>
					select a dictionary
				</p>
			</div>
		</div>
		<div id="half-screen">
			<div class='words' id='words'>
			</div>
		</div>
	</div>
	{% include "ending.jinja" %}
