
	{% include "head.jinja" %}
	<script>
	    let currentSetName = null;
		function getDictList(name){
		    currentSetName = name;
			fetch('/dict/'+name)
				.then(res => {
				    return res.text();
				})
				.then(data => {
					words.innerHTML='';
				    for (let i of data.split(',')){
				    	words.innerHTML+="<div class='dict-logo'>"+i+"</div>";
				    }
				});
		}
		function AddDict(name,language){
		    fetch('/addWordSet',{method:"POST",
		        headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body:JSON.stringify({
                    name:name,
                    language:language
                })
            })
        }
        function addDictBtn(){
            AddDict(dictName.value,dictLanguage.value)
        }
        function addWordBtn(){
            if (currentSetName) {
                alert(currentSetName+' '+spelling.value+' '+translation.value)
            }
        }
	</script>
	<div id='content'>
		<div class="half-screen">
			<div class='centered'>
				<h1>
					Your dictionaries:
				</h1>
				<div class='dictionaries'>
					{% for dictionary in dictionaries %}
					<div class='dict-logo' onclick='getDictList("{{dictionary}}")'>{{dictionary}}</div>
					{% endfor %}
				</div>
				<div class='form'>
				    create a dictionary:<br>
				    <input type="text" id="dictName">
				    <select id="dictLanguage">
				        <option disabled> select a language </option>
				        <option>english</option>
				        <option>spanish</option>
				    </select>
				    <input type="button" value="add" onclick="addDictBtn()">
				</div>
				<p>
					select a dictionary
				</p>
			</div>
		</div>
		<div id="half-screen">
			<div>
			    <div id='words' class='words'>
				</div>
    			<div class='form'>
            	    create a dictionary:<br>
    			    <input type="text" id="spelling">
    			    <input type="text" id="translation">
				    <input type="button" value="add" onclick="addWordBtn()">
				    </div>
			</div>
		</div>
	</div>
	{% include "ending.jinja" %}
