
	{% include "head.jinja" %}
	<div id='content'>
		<div class="half-screen">
			<div class='centered'>
				<h1>
					Your dictionaries:
					<div class='dictionaries'>
						<div class='dict-logo'>english</div>
						<div class='dict-logo'>spanish</div>
					</div>
				</h1>
				<p>
					today you have learned 250 new words <br>
					and spent 37 minutes on learning </br>
				</p>
			</div>
		</div>
		<div id="half-screen">
			Greetings, {{email}}
		</div>
	</div>
	{% include "ending.jinja" %}
