
<style>
    {% include "style/settings.css" %}
</style>

<section class="settings">
{% include "header.html" %}
    <div class="settings-window">
        <div class="settings-title">
            <h1 class="title">Settings</h1>
        </div>
        <div class="settings-content">
            <div class="settings-menu">
                <ul>
                    <li id="langButton">Change <span class="set-lang">native language</span></li>
                    <li id="passButton">Change <span class="set-pass">password</span></li>
                    <li id="vkButton">disconnect VK account</li>
                </ul>
            </div>
            <div class="settings-inside">
                <div class="settings-window native-lang-window" id="langWindow">
                <p class="title">Native language</p>
                <div>
                    {% for lang in languages %}
                        <div class="lang {% if current_language==lang[0] %}
                                chosen
                            {% endif %}" id="{{ lang[0] }}">{{ lang[1] }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="settings-window password-window" id="passWindow">
                <p class="title">Password</p>
                <div>
                    <div class="current-password">Current password:</div>
                    <div class="current-password-input"><input type="password" id="password"></div>
                    <div class="new-password">New password:</div>
                    <div class="new-password-input"><input type="password" id="repeatPassword"></div>
                    <div class="change-button" onclick="changePassword()">Change it</div>
                </div>
            </div>
            <div class="settings-window password-window" id="vkWindow" style='display:none'>
                <p class="title">Disconnect vk account</p>
                <div>
                    <div class="current-password">Are you sure you want to delete vk account</div>
                    <a href="/delVK" class="change-button" style="display:block">YES</a>
                </div>
            </div>
        </div>
    </div>
    </div>

<script>
    langWindow.style.display = 'none';
    passWindow.style.display = 'none';
    langButton.onclick = function () {
        if (langWindow.style.display == 'none') {
            langWindow.style.display = 'initial';
            passWindow.style.display = 'none';
            vkWindow.style.display = 'none';
        } else {
            langWindow.style.display = 'none';
        }
    }

    passButton.onclick = function () {
        if (passWindow.style.display == 'none') {
            passWindow.style.display = 'initial';
            langWindow.style.display = 'none';
            vkWindow.style.display = 'none';
        } else {
            passWindow.style.display = 'none';
        }
    }

    vkButton.onclick = function () {
        if (vkWindow.style.display == 'none') {
            passWindow.style.display = 'none';
            vkWindow.style.display = 'initial';
            langWindow.style.display = 'none';
        } else {
            vkWindow.style.display = 'none';
        }
    }

    function changePassword() {
        if (password.value == repeatPassword.value) {
            if (password.value.length < 6) {
                alert('password is too short')
            } else {
                fetch('/settings/setpassword', {
                    method: "POST",
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        password: password.value,
                        passwordRepeat: repeatPassword.value,
                    })
                })
            }
        } else
            alert('password and password repeat must be equal')
    }

    {% for lang in languages %}
        document.getElementById("{{ lang[0] }}").onclick = function () {
        fetch('/settings/setlang/{{ lang[0] }}');
        this.classList.add('chosen');
        {% for lang2 in languages %}
            {% if lang2[0]!=lang[0] %}
                {{ lang2[0] }}.classList.remove("chosen");
            {% endif %}
        {% endfor %}
    };
    {% endfor %}
</script>
{% include "ending.html" %}